*.log
*.csv
*.pyc
*.xlsx
*.xlsm
*.xlsb
*.pdf
*.pyo
*.msi
*.zip
**/.egg-info
*.egg-info
*.class
*.spec
*.pkl

**/__pycache__
**/.ipynb_checkpoints
**/build
**/dist
**/.vs
**/.vscode
**/pylint_logs
**/node_packages
